<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mcv="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <mcv:annotation-driven/>


    <!--开启组件扫描-->
    <context:component-scan base-package="com.example.service,com.example.web.controller"/>


    <!--配置FreeMarkerConfigurer-->
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="template"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <!--配置ContentNegotiatingViewResolver-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean id="freeMarkerViewResolver"
                      class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                    <property name="prefix" value=""/>
                    <property name="suffix" value=".ftl"/>
                    <property name="cache" value="true"/>
                    <property name="contentType" value="text/html;charset=utf-8"/>
                </bean>

            </list>
        </property>


        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
            </list>
        </property>
    </bean>

    <!--multipartResolver配置-->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="209715200"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="resolveLazily" value="true"/>
    </bean>


    <!--注册拦截器-->

    <mvc:interceptors>
        <mcv:interceptor>
            <mcv:mapping path="/api/*"/>
            <bean class="com.example.interceptor.ApiInterceptor"/>
        </mcv:interceptor>

    </mvc:interceptors>
</beans>