<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.ProductDAO">
    <insert id="saveProduct" parameterType="com.example.dao.ProductDAO">
        INSERT INTO product (price, title, image, summary, detail)
        VALUES (#{price}, #{title}, #{image}, #{summary}, #{detail})
    </insert>

    <update id="updateProduct" parameterType="com.example.dao.ProductDAO">
        UPDATE product
        SET price = #{price}, title = #{title}, image = #{image}, summary = #{summary}, detail = #{detail}
        WHERE id = #{pid}
    </update>

    <delete id="deleteProduct">
        DELETE
        FROM product
        WHERE id = #{pid}
    </delete>


    <resultMap id="productMap" type="com.example.model.ProductDO">
        <result property="pid" column="id"/>
        <result property="price" column="price"/>
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="summary" column="summary"/>
        <result property="detail" column="detail" typeHandler="com.example.typehandler.MyBlobTypeHandler"/>
    </resultMap>


    <sql id="queryFromProduct">
        SELECT
        id,
            title,
            image,
            price,
            summary,
            detail
        FROM product

    </sql>

    <select id="listProduct" resultMap="productMap">
        <include refid="queryFromProduct"/>
        order by id DESC
    </select>


    <select id="getProduct" parameterType="integer" resultMap="productMap">
        <include refid="queryFromProduct"/>
        Where id=#{pid}
    </select>
    <select id="listBuy" resultMap="productMap">

    </select>
    <select id="countProductById" resultType="java.lang.Integer">
        SELECT count(id)
        FROM product
        WHERE #{pid}
    </select>
    <select id="countAllProduct" resultType="java.lang.Integer">
        SELECT count(*)
        FROM product
    </select>
    <select id="getLastProduct" resultMap="productMap">
        <include refid="queryFromProduct"/>
        ORDER BY id DESC LIMIT 0,1
    </select>


    <select id="getPriceById" parameterType="integer" resultType="java.lang.Float">
        SELECT price
        FROM product
        WHERE id = #{pid}
    </select>


</mapper>