<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.TransactionDAO">
    <insert id="saveTransaction" parameterType="com.example.model.TransactionDO">
        INSERT transaction (product_id, user_id, price)
        VALUES (#{productId}, #{userId}, #{price})
    </insert>
    <select id="getTransactionByUid" parameterType="integer" resultType="com.example.model.TransactionDO">
        SELECT DISTINCT product_id,
            product_id,
            user_id,
            price,
            time
        FROM transaction
        WHERE user_id = #{uid}
    </select>
    <select id="getTransactionByPId" resultType="com.example.model.TransactionDO">
        SELECT
            id AS tid,
            product_id,
            user_id,
            price,
            time
        FROM transaction
    </select>
    <select id="countTransactionByPId" resultType="java.lang.Integer" parameterType="integer">
        SELECT count(id)
        FROM transaction
        WHERE product_id = #{pid}
    </select>
</mapper>